<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Cinema</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <!--<li class="nav-item dropdown" *ngIf="isManager()">
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>{{cinemaName}}</li>
            </ul>
          </li>
-->
        </ul>

        <form class="form-inline my-2 my-lg-0" *ngIf="isLogin() else logoutForm">
          <a class="btn btn-outline-success my-2 my-sm-0" href="/profile">Profile</a>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="logout()">Logout</button>
        </form>
        <ng-template #logoutForm>
          <a class="btn btn-outline-success my-2 my-sm-0" href="/login">SignIn</a>
          <a class="btn btn-outline-success my-2 my-sm-0" href="/registration">SignUp</a>
        </ng-template>
      </div>
    </div>
  </nav>
</header>
