<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Hall name</th>
    <th scope="col">Cinema name</th>
    <th scope="col">floor</th>
    <th scope="col">rows number</th>
    <th scope="col">number seats per row</th>
    <th scope="col">Status</th>
    <th scope="col" *ngIf="isManager() || isOwner()">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let hall of halls">
    <th scope="row">{{halls.length / 10}}</th>
    <td>
      <a href="cinema/{{cinemaName}}/hall/{{hall.hallName}}">
        {{hall.hallName}}
      </a>
    </td>
    <td>{{hall.cinemaName}}</td>
    <td>{{hall.floor}}</td>
    <th>{{hall.rowsNumbers}}</th>
    <td>{{hall.numberSeatsPerRow}}</td>
    <td>{{cinema.status}}</td>
    <td scope="col" *ngIf="isManager()">
      <a href="/film-session/create" class="btn btn-secondary">add film session</a>
    </td>
    <td scope="col" *ngIf="isOwner()">
      <a href="/owner/cinema/{{cinemaName}}/hall/{{hall.hallName}}/update">update hall</a>
    </td>
  </tr>
  </tbody>
</table>
