<div class="container mt-1 st-1">
  <div class="row" *ngIf="isAdmin()">
    <div class="col col-lg-5">
      <ul class="list-group">
        <li class="list-group-item">
          <a href="/admin/users" class="list-group-item list-group-item-action active" aria-current="true">
            User list
          </a>
        </li>
        <li class="list-group-item">
          <a href="/admin/users/create" class="list-group-item list-group-item-action active" aria-current="true">
            Create cinema owner
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row" *ngIf="isOwner()">
    <div class="col col-lg-3">
      <ul class="list-group">
        <li class="list-group-item">
          Cinema
        </li>
        <li class="list-group-item">
          <a href="/owner/cinemas" class="list-group-item list-group-item-action active" aria-current="true">
            Cinema list
          </a>
        </li>
        <li class="list-group-item">
          <a href="/owner/cinemas/create" class="list-group-item list-group-item-action active" aria-current="true">
            Create cinema
          </a>
        </li>
      </ul>
    </div>

    <div class="col col-lg-3">
      <ul class="list-group">
        <li class="list-group-item">
          Films
        </li>
        <li class="list-group-item">
          <a href="/owner/films" class="list-group-item list-group-item-action active" aria-current="true">
            Film list
          </a>
        </li>
        <li class="list-group-item">
          <a href="/owner/film/create" class="list-group-item list-group-item-action active" aria-current="true">
            Create film
          </a>
        </li>
        <li class="list-group-item">
          <a href="/owner/films/statistics" class="list-group-item list-group-item-action active" aria-current="true">
            Count of reserved tickets
          </a>
        </li>
      </ul>
    </div>

  </div>

  <div class="row" *ngIf="isManager()">
    <div class="col col-lg">
      <app-cinema-details>
      </app-cinema-details>
    </div>
  </div>

  <div class="row" *ngIf="!isLogin() || isUser()">
    <div class="col col-lg">
      <app-cinema-list>
      </app-cinema-list>
    </div>
  </div>

</div>

