<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col" (click)="sort('cinemaName')">Cinema</th>
    <th scope="col" (click)="sort('country')">Country</th>
    <th scope="col">City</th>
    <th scope="col">Address</th>
    <th scope="col">Description</th>
    <th scope="col">Creation date</th>
    <th scope="col">Status</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let cinema of cinemas">
    <th scope="row">{{cinemas.length % 10}}</th>
    <td>
      <a href="/owner/cinema/{{cinema.cinemaName}}/halls">{{cinema.cinemaName}}</a>
    </td>
    <td>{{cinema.country}}</td>
    <td>{{cinema.city}}</td>
    <td>{{cinema.address}}</td>
    <td>{{cinema.description}}</td>
    <td>{{cinema.creationDate}}</td>
    <td>{{cinema.status}}</td>
    <td>
      <a class="btn" href="/owner/cinema/{{cinema.cinemaName}}/update">Update cinema</a>
      <a class="btn" href="/owner/cinema/{{cinema.id}}/create/manager">add new manager</a>
      <a class="btn" href="/owner/cinema/{{cinema.id}}/create/hall">add new hall</a>
    </td>
  </tr>
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <select class="form-control" name="statusName" [(ngModel)]="currentSize" (click)="changeSize()">
        <option *ngFor="let size of sizes" value="{{size}}">{{size}}</option>
      </select>
    </li>
    <li class="page-item" *ngIf="!hasPrevious">
      <button class="page-link" type="submit" (click)="changePage(currentPage - 1)">
        << Previous
      </button>
    </li>
    <li class="page-item" *ngIf="!hasNext">
      <button class="page-link" type="submit" (click)="changePage(currentPage + 1)">
        Next >>
      </button>
    </li>
  </ul>
</nav>
